.formTable {
  position: relative;
  background-color: #f3f6f7;
  height: 170px;
  align-items: center;
  text-align: center;
  padding: 25px;
}
.formItem {
  display: flex;
  padding: 10px;
  margin-bottom: 10px;
  align-items: center;
  text-align: center;
}

.btn {
  position: absolute;
  left: 122px;
  top: 175px;
  width: 80px;
  height: 30px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.btn:hover {
  background-color: #45a049;
}
.input {
  position: absolute;
  left: 120px;
  width: 200px;
  height: 25px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
}
.selectInput {
  position: absolute;
  left: 120px;
  width: 210px;
  height: 38px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 9px;
}
